/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.table-view {
    -fx-base: #1b76ff;
    -fx-control-inner-background: #1b76ff;
    -fx-background-color: #1b76ff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 22;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 16pt;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    /*-fx-text-fill: black;
    -fx-font-color: black;*/
    -fx-background-color:-fx-focus-color;
    
    /** -fx-focus-color */
}

.date-picker{
    -fx-text-inner-color:#ffffff;
    
}
.jfx-date-picker .input-line {
    -fx-background-color: white;
}

/** **/
.dialog-pane{
    -fx-border-color:#1b76ff;
    -fx-border-width:2.0px;
}

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
    -fx-background-color:#1b76ff;
}

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: #1b76ff;
    -fx-text-fill:white;
    -fx-font-size:15.0px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
    -fx-background-color: #1b76ff;
}

.dialog-pane:header .header-panel .label{
    -fx-background-color: #1b76ff;
    -fx-background-radius:10px;
    -fx-text-fill:white;
    -fx-font-size:15.0px;
}


/**Costumization of Buttons**/
.dialog-pane .button{
    -fx-background-color:white;
    -fx-text-fill:#1b76ff;
    -fx-cursor:hand;
}

.dialog-pane .button:hover{
    -fx-background-color:#1b76ff;
    -fx-text-fill:white;
    -fx-font-weight:bold;
}
